#calculator{
    border:1px solid rgb(208, 228, 212);
    border-radius: 10px;
    width: 200px;
    align-items: center;
}
#display{
    margin: 10px;
    width: 150px;
    height: 30px;
    font-size: 25px;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}